* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px 0;
  background-color: rgb(234, 234, 234);
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  img {
    margin-right: 10px;
  }
}

.menuOpenClose i {
  font-size: 40px;
}

.menu {
  li {
    list-style: none;
    display: flex;
    align-items: center;
    a {
      position: relative;
      text-decoration: none;
      font-size: 20px;
      color: #ffc900;
    }
  }
}

.smallDeviceMenu {
  li {
    height: 60px;
    background: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 3px #a19595;
  }
}

.menu li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5px;
  width: 0;
  background-color: rgb(255 192 0);
  transition: ease-in;
  transition-duration: 300ms;
}

.menu li a:hover::before {
  width: 100%;
}

.menu li a.activeMenu::before {
  width: 100%;
}
#products,
.users,
.posts {
  width: 100%;
  border: 1px solid rgb(162, 162, 162);
  border-radius: 5px;
}
.heading {
  height: 40px;
  padding: 2px;
  border-bottom: 1px solid rgb(162, 162, 162);
  a,
  h4 {
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
.myProductCard:hover {
  transform: translateY(-5px);
  transition: ease-in 300ms;
  box-shadow: 1px 1px 10px;
}
